@if(this.screenService.showSidebar()){
<div class="accordion shadow">
    @for (category of ((categories$|async)?.data); track $index) {
    <div class="accordion-item rounded-0 border-0">
        <small class="accordion-header rounded-0">
            <button [class.collapsed]="categoryId!=category.id" class="accordion-btn rounded-0"
                (click)="onAccordionClick(category.id)" type="button">
                {{category.name}}
                @if(categoryId===category.id&&isAdmin) {
                <button class="btn btn-sm btn-2 ms-auto" title="Add new sub-category" (click)="toggleAdd(true)"><i class="bi bi-plus-square "></i></button>
                }
            </button>
        </small>
        <div id="{{category.id}}" [class.show]="categoryId===category.id" [class.collapse]="categoryId!=category.id"
            class="accordion-collapse  rounded-0">
            <div class="accordion-body  rounded-0">
                <ul class="list-group  list-group-flush">
                    @for (subCategory of (subCategories$|async)?.data; track $index) {
                    <li class="list-group-item p-0">
                        <small class="text-body-secondary d-flex mb-2">{{subCategory.name}}
                            @if(isAdmin){
                            <button class="btn btn-sm btn-1 ms-auto"title="Edit"(click)="toggleEdit(true)" ><i class="bi bi-pencil-square "></i></button>
                            <button class="btn btn-sm btn-d ms-1" title="Delete" (click)="toggleDelete(true)"><i class="bi bi-trash3 "></i></button>
                            }

                        </small>
                    </li>

                    }
                </ul>
            </div>
        </div>
    </div>
    }


</div>
}

<!-- Admin View: -->

@if(onEdit||onDelete||onAdd){
<div class="modal filter d-flex">
</div>




@if (!loaderService.isLoading()) {
<div class="modal d-flex justify-content-center align-items-center">
    @if(onEdit) {
    <div class="modal-content p-4 shadow-lg rounded">
        <div class="d-flex align-items-center mb-4 ">
            <h2 class="me-auto">Edit Sub-Category</h2>
            <button class="btn-close rounded-circle" (click)="toggleEdit(false)"></button>
        </div>
        <form (ngSubmit)="updateSubCategory($event)">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" appInput colorNumber="1" (input)="checkSubCategory()"
                    [(ngModel)]="categoryUpdate.newName" name="name" required>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-2 me-2" (click)="toggleEdit(false)">Cancel</button>
                <button type="submit" [disabled]="!validSubCategory" class="btn btn-1">Save</button>
            </div>
        </form>
    </div>
    }
    @else if(onDelete) {
    <div class="modal-content p-4 shadow-lg rounded">
        <div class="d-flex align-items-center mb-4 ">
            <h2 class="me-auto">Delete Category</h2>
            <button class="btn-close rounded-circle" (click)="toggleDelete(false)"></button>
        </div>
        <div>
            <div class="mb-3">
                <p>This will delete {{categoryUpdate.oldName}}</p>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-2 me-2" (click)="toggleDelete(false)">Cancel</button>
                <button type="submit" class="btn btn-d" (click)="deleteSubCategory($event)">Delete</button>
            </div>
        </div>
    </div>
    }

</div>
}}
<!--  -->