@if(this.screenService.showSidebar()){
<div class="accordion shadow">
    @for (category of ((categories$|async)?.data); track $index) {
    <div class="accordion-item rounded-0 border-0">
        <small class="accordion-header rounded-0">
            <button [class.collapsed]="categoryId!=category.id" class="accordion-btn rounded-0"
                (click)="onAccordionClick(category.id)" type="button">
                {{category.name}}
                @if(categoryId===category.id&&isAdmin) {
                <app-button-component class="ms-auto" action="add" [hasIcon]="true" size="sm"
                    title="Add new sub-category" (click)="toggleAdd(true)" />
                }
            </button>
        </small>
        <div id="{{category.id}}" [class.show]="categoryId===category.id" [class.collapse]="categoryId!=category.id"
            class="accordion-collapse  rounded-0">
            <div class="accordion-body  rounded-0">
                <ul class="list-group  list-group-flush">
                    @for (subCategory of (subCategories$|async)?.data; track $index) {
                    <li class="list-group-item p-0">
                        <small class="text-body-secondary d-flex mb-2">{{subCategory.name}}
                            @if(isAdmin){
                            <app-button-component action="update" class="ms-auto" size="sm" [hasIcon]="true"
                                title="Edit" (click)="toggleEdit(true)" />
                            <app-button-component action="delete" class="ms-1" size="sm" [hasIcon]="true" title="Delete"
                                (click)="toggleDelete(true)" />
                            }

                        </small>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    }


</div>
}

<!-- Admin View: -->

@if(onEdit||onDelete||onAdd){
<div class="modal filter d-flex">
</div>




@if (!loaderService.isLoading()) {
<div class="modal d-flex justify-content-center align-items-center">
    @if(onEdit) {
    <div class="modal-content p-4 shadow-lg rounded">
        <div class="d-flex align-items-center mb-4 ">
            <h2 class="me-auto">Edit Sub-Category</h2>
            <app-button-component action="close" (click)="toggleEdit(false)" />
        </div>
        <form (ngSubmit)="updateSubCategory($event)">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" appInput colorNumber="1" (input)="checkSubCategory()"
                    [(ngModel)]="categoryUpdate.newName" name="name" required>
            </div>

            <div class="d-flex justify-content-end">
                <app-button-component type="button" action="cancle" class="me-2" text="Cancel"
                    (click)="toggleEdit(false)" />
                <app-button-component type="submit" [disabled]="!validSubCategory" action="save" text="Save" />
            </div>
        </form>
    </div>
    }
    @else if(onDelete) {
    <div class="modal-content p-4 shadow-lg rounded">
        <div class="d-flex align-items-center mb-4 ">
            <h2 class="me-auto">Delete Category</h2>
            <app-button-component action="close" (click)="toggleDelete(false)" />
        </div>
        <div>
            <div class="mb-3">
                <p>This will delete {{categoryUpdate.oldName}}</p>
            </div>

            <div class="d-flex justify-content-end">
                <app-button-component type="button" action="cancle" text="Cancel" class="me-2"
                    (click)="toggleDelete(false)" />
                <app-button-component type="submit" action="delete" text="Delete" (click)="deleteSubCategory($event)" />
            </div>
        </div>
    </div>
    }

</div>
}}
<!--  -->