@if(this.screenService.showSidebar()){
<div class="accordion shadow">
    @for (category of ((categories$|async)?.data); track $index) {
    <div class="accordion-item rounded-0 border-0">
        <small class="accordion-header rounded-0">
            <button [class.collapsed]="categoryId!=category.id" class="accordion-btn rounded-0"
                (click)="onAccordionClick(category.id)" type="button">
                {{category.name}}
            </button>
        </small>
        <div id="{{category.id}}" [class.show]="categoryId===category.id" [class.collapse]="categoryId!=category.id"
            class="accordion-collapse  rounded-0">
            <div class="accordion-body  rounded-0">
                <ul class="list-group  list-group-flush">
                    @for (subCategory of (subCategories$|async)?.data; track $index) {
                    <li class="list-group-item ">
                        <small class="text-body-secondary">{{subCategory.name}}</small>
                    </li>

                    }
                </ul>
            </div>
        </div>
    </div>
    }


</div>
}
