<!-- Hero Section -->
<section class=" hero ">
    <div class="container relative  h-100 d-flex flex-column justify-content-center gap-3 align-items-center ">
        <h2 class="font-bold  scale-75">We tell you what it really costs.</h2>
        <section class="w-100">
            <form class="d-flex w-100 relative scale-75" role="search">
                <input class="rounded-5 form-control-lg form-control w-100 me-2 ps-5" appInput [colorNumber]="'2'"
                    type="search" placeholder="The price of..." aria-label="Search" />
                <div class=" search"><i class="bi bi-search"></i></div>

            </form>
        </section>
        <section class="createContainer  static md:absolute ">
            <div class=" d-flex justify-content-center gap-3 flex-column flex-md-row w-100">
                @for (card of cards; track $index) {
                <div class="p-5 create rounded-xl  text-center d-flex  align-items-center gap-4 " (click)="clickCard()">
                    <div>
                        <div class="item ">
                            <i class="bi bi-{{card.icon}}"></i>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-xl font-semibold mb-3 tmc">{{card.head}}</h3>
                        <p class="text-white-600 tmc">{{card.body}}</p>
                    </div>

                </div>
                }
            </div>

        </section>
    </div>
</section>


<div class="mx-auto mt-16 pb-5  sm:mt-20 lg:mt-24 ">
    <dl class="grid p-2 grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16  m-0">
        @for (f of features; track $index) {
        <div class="relative pl-16 shadow-xl rounded-5 p-3">
            <dt class="text-base/7 font-semibold text-x">
                {{f.title}}
            </dt>
            <dd class="mt-2 text-base/7 text-gray-400">{{f.desc}}</dd>
        </div>
        }



    </dl>
</div>