<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <form class="d-flex my-4" (submit)="create($event)">
        <input type="text" appInput colorNumber="2" [(ngModel)]="newCategoryName" (input)="checkCategoryName()"
            name="category" id="category" placeholder="Category" required />
        <button type="submit" [disabled]="disabled" class="btn btn-2 px-4 ms-4 ">Create</button>
    </form>
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <hr>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 relative">
        @if ((isLoading$|async)) {
        <app-loader-component type="card"></app-loader-component>
        }
        @for (category of (categories$|async)?.data; track $index) {
        <div class="card " [title]="category.name">
            <div class="my-4 flex justify-center">
                <div>
                    <h3 class="text-sm ">
                        {{category.name}}
                    </h3>
                </div>
            </div>
        </div>
        }


    </div>
</div>