<nav class="navbar shadow navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Invoice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="d-flex " >
        <a routerLink="login" class="btn btn-sm btn-2  me-2 rounded-pill px-3 btn-nav" >Login</a>
        <a routerLink="signUp" class="btn btn-sm btn-1 rounded-pill px-3 btn-nav">Sign Up</a>
        <div class="mx-5 border"></div>
        <a class="btn btn-sm btn-x rounded-circle " ><i class=" bi bi-brightness-high-fill"></i></a>
      </div>
    </div>
  </div>
</nav>