/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons";
@import "tailwindcss";
@import 'ngx-toastr/toastr';

:root {
    --color-1: #C7B953;
    --color-2: #A0B2D1;
    --color-3: #97C46B;
    --color-4: #adb5bd33;
    --shadow-1: 0 0 0 0.25rem #c7b98330;
    --shadow-2: 0 0 0 0.25rem #A0B2B830;
    --shadow-3: 0 0 0 0.25rem #A0C78E30;
    --shadow-4: 0 0 0 0.25rem #adb5bd14;

}
.filter{
    background-color: var(--bs-body-bg) !important;
    filter: blur(108px);
}
.page {
    height: 100vh;
    background-color: var(--bs-body-bg);
    overflow-y: scroll;
    scrollbar-color: #c2bd9a var(--color-4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
input,textarea{
    text-transform: none !important;
}
.bg-4{
    background-color: var(--color-4);
}
.form-check-input-2:checked {
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.form-check-input-1:checked {
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.form-check-input-3:checked {
    background-color: var(--color-3);
    border-color: var(--color-3);
}
.form-control-1:focus,
.form-check-input-2:focus {
    border-color: var(--color-1);
    box-shadow: var(--shadow-1);
}

.form-control-2:focus,
.form-check-input-2:focus {
    border-color: var(--color-2);
    box-shadow: var(--shadow-2);
}
.form-control-3:focus,
.form-check-input-3:focus {
    border-color: var(--color-3);
    box-shadow: var(--shadow-3);
}
.text-1 {
    color: var(--color-1);
}

.text-2 {
    color: var(--color-2);
}
.text-3{
    color: var(--color-3);
}

.text-x {
    color: var(--bs-body-color);
}

.eye {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    right: 20px;
    color: var(--bs-body-color);
    cursor: pointer;
}

.dropdown-item,
.nav-link {
    cursor: pointer;

}

.dropdown-item:active {
    background-color: var(--color-1);
}

.active {
    border-bottom: solid 1px var(--color-1);

}

.bg-1 {
    background-color: var(--color-1);
    color: var(--bs-body-bg);
}

.bg-2 {
    color: var(--bs-body-bg);
    background-color: var(--color-2);
}
.bg-3 {
    color: var(--bs-body-bg);
    background-color: var(--color-3);
}

.bg {
    background-color: var(--bs-body-bg);
}

.card {
    background-color: var(--color-4);
    border: none;
    cursor: pointer;
    
}
.card h3{
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-align: center;
    text-overflow: ellipsis !important;
}

.card:hover {
    box-shadow: var(--shadow-4);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.toast-container .ngx-toastr {
    min-width: 200px !important;
}
hr{
    border-color: var(--color-2);
}
.bi{
    color: inherit;
}
.selected {
    background-color: var(--color-2);
    color: var(--bs-body-bg);
}