/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons";
@import "tailwindcss";
@import 'ngx-toastr/toastr';

:root {
    --color-1: #6e869e;
    --color-2: #85838e;
    --color-3: #d5cfd1;
    --color-4: #d5cfd130;
    --shadow-1: 0 0 0 0.25rem #6e869e30;
    --shadow-2: 0 0 0 0.25rem #85838e30;
    --shadow-3: 0 0 0 0.25rem #d5cfd130;

}

.page {
    height: 100vh;
    background-color: var(--bs-body-bg);
    overflow-y: scroll;
    scrollbar-color: var(--color-2) var(--color-4);
}

* {
    box-sizing: border-box;
    margin: 0;
    color: var(--bs-body-color);
    padding: 0;
}

.btn-1,
.btn-2,
.btn-x,
.btn-d {
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.btn-1,
.btn-1:hover,
.btn-1:active {
    color: var(--bs-body-bg) !important;
    background-color: var(--color-1) !important;
}

.btn-2,
.btn-2:hover,
.btn-2:active {
    color: var(--bs-body-bg) !important;
    background-color: var(--color-2) !important;
}

.btn-x,
.btn-x:hover,
.btn-x:active {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-secondary) !important;
}

.btn-d,
.btn-d:hover,
.btn-d:active {
    color: var(--bs-body-bg) !important;
    background-color: var(--color-red-500) !important;
}


.btn-1:hover,
.btn-2:hover,
.btn-x:hover ,
.btn-d:hover {
    color: var(--bs-body-bg);
    opacity: 1;
}
.btn-close:active{
    outline: none;
    box-shadow: none;
}
.form-check-input-2:checked {
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.form-check-input-1:checked {
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.form-control-1:focus,
.form-check-input-2:focus {
    border-color: var(--color-1);
    box-shadow: var(--shadow-1);
}

.form-control-2:focus,
.form-check-input-2:focus {
    border-color: var(--color-2);
    box-shadow: var(--shadow-2);
}

.text-1 {
    color: var(--color-1);
}

.text-2 {
    color: var(--color-2);
}

.text-x {
    color: var(--bs-body-color);
}

.eye {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    right: 20px;
    color: var(--bs-body-color);
    cursor: pointer;
}

.dropdown-item,
.nav-link {
    cursor: pointer;

}

.dropdown-item:active {
    background-color: var(--color-1);
}

.active {
    border-bottom: solid 1px var(--color-1);

}

.bg-1 {
    background-color: var(--color-1);
    color: var(--bs-body-bg);
}

.bg-2 {
    color: var(--bs-body-bg);
    background-color: var(--color-2);
}

.bg {
    background-color: var(--bs-body-bg);
}

.card {
    background-color: var(--color-4);
    border: none;
    cursor: pointer;
    
}
.card h3{
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-align: center;
    text-overflow: ellipsis !important;
}

.card:hover {
    box-shadow: var(--shadow-1);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.toast-container .ngx-toastr {
    width: max-content !important;
    min-width: 200px !important;
}
hr{
    border-color: var(--color-2);
}
.bi{
    color: inherit;
}